# 점프투파이썬 2장 이어서
##  3절 리스트

In [1]:
print("안녕하세요")

안녕하세요

In [2]:
print(123)

123

## 리스트 만들기

In [3]:
# 빈 리스트
a = []
a

[]

In [5]:
b = [1,2,3]
b

[1, 2, 3]

In [6]:
c = ['Life', 'is', 'too', 'short']
c

['Life', 'is', 'too', 'short']

In [8]:
d = [1, 2, 'Life', 'is']
d

[1, 2, 'Life', 'is']

In [9]:
e = [1, 2, ['Life', 'is']]
e

[1, 2, ['Life', 'is']]

### 리스트 인덱싱

In [10]:
[0, 5] # 공간 상 첫째부터 다섯째까지

[0, 5]

In [13]:
a = [1,2,3]
a

[1, 2, 3]

In [14]:
a[1]

2

In [15]:
a[-1]

3

In [16]:
e

[1, 2, ['Life', 'is']]

In [17]:
e[2]

['Life', 'is']

In [18]:
e[2][0]

'Life'

### 리스트의 슬라이싱

In [20]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [21]:
b = a[0:2]
b

[1, 2]

In [22]:
b = a[:2]
b

[1, 2]

### 리스트의 연산자

In [23]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [25]:
c = a+b
c

[1, 2, 3, 4, 5, 1, 2]

In [26]:
c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

### 리스트의 수정, 변경, 삭제

In [27]:
a = [1,2,3]

In [28]:
a[2] = 4
a

[1, 2, 4]

In [39]:
# 연속된 범위 값
a[2:3]

['c']

In [37]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 'b', 'c', 4]

In [40]:
# 리스트 요소 삭제
a = [1,2,3]
del a[2]
a

[1, 2]

In [41]:
a = [1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [42]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [49]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6], [5, 6], [5, 6], [5, 6], [5, 6]]

In [50]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [51]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [52]:
a = [1, 4, 3, 2]
a.reverse()
a

[2, 3, 4, 1]

In [53]:
a = [1,2,3]
a.index(3)

2

In [55]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [56]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [58]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [59]:
a = [1,2,3]
a.pop()

3

In [60]:
a

[1, 2]

In [61]:
a = [1,2,3,1]
a.count(1)

2

In [62]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [64]:
a.append([5,6])
a

[1, 2, 3, 4, 5, 6, 7, [5, 6]]

## 튜플

In [66]:
t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))
print(t1,t2,t3,t4,t5)

() (1,) (1, 2, 3) (1, 2, 3) ('a', 'b', ('ab', 'cd'))

In [67]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [68]:
dic = {'name':'오승', 'phone':'0119993323', 'birth': '1110'}

In [69]:
print(dic)

{'name': '오승', 'phone': '0119993323', 'birth': '1110'}

In [74]:
dic['name']

'길동'

In [73]:
dic = {'name':'오승', 'name': '길동'}

In [75]:
dic['name']

'길동'

In [76]:
dic.keys()

dict_keys(['name'])

In [77]:
dic.values()

dict_values(['길동'])

### 자료형(bool)

In [78]:
2>1

True

In [79]:
1>3

False

In [81]:
if [1,2]:
    print("참")
else:
    print("거짓")

참

# 3장 제어문
## 1. if문

In [83]:
money = 0
if money:
    print("택시 타라")
else:
    print("걸어 가세요")

걸어 가세요

In [84]:
if 조건문1
    수행 문장1
    수행 문장2
else:
    수행 문장1
    수행 문장2

SyntaxError: invalid syntax (<ipython-input-84-b98fd4989c93>, line 1)

In [85]:
money = 2000
>>> if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [86]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [87]:
pocket = ['paper', 'cellphone', 'card']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [88]:
pocket = ['paper', 'handphone']
card = 1
if 'money' in pocket:
    print("택시를 타고가라")
else:
    if card:
        print("택시를 타고가라")
    else:
        print("걸어가라")

택시를 타고가라

In [89]:
pocket = ['paper', 'cellphone']
card = 1
if 'money' in pocket:
     print("택시를 타고가라")
elif card: 
     print("택시를 타고가라")
else:
     print("걸어가라")

택시를 타고가라

In [91]:
If <조건문>:
    <수행할 문장1> 
    <수행할 문장2>
elif <조건문>:
    <수행할 문장1>
    <수행할 문장2>
elif <조건문>:
    <수행할 문장1>
    <수행할 문장2>
else:
   <수행할 문장1>
   <수행할 문장2>

SyntaxError: invalid syntax (<ipython-input-91-4479d50deb61>, line 1)